@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(50deg); }
  20% {
    transform: rotate(100deg); }
  30% {
    transform: rotate(140deg); }
  40% {
    transform: rotate(170deg); }
  50% {
    transform: rotate(200deg); }
  60% {
    transform: rotate(240deg); }
  70% {
    transform: rotate(270deg); }
  80% {
    transform: rotate(300deg); }
  90% {
    transform: rotate(330deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes pageAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes pageAnimationMenu {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0.3; }
  80% {
    opacity: 0.6; }
  90% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
@keyframes pageAnimationAcceuil {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.lds-default {
  display: inline-block;
  position: absolute;
  left: 39%;
  top: 300px;
  width: 80px;
  height: 80px;
  transform: scale(2);
  opacity: 0;
  animation: lds-timing-page 3s; }

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: linear-gradient(100deg, #ff79da, #9356dc);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite; }

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px; }

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px; }

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px; }

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px; }

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px; }

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px; }

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px; }

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px; }

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px; }

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px; }

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px; }

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px; }

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); } }
@keyframes lds-timing-page {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: currentColor; }

.container {
  animation: pageAnimationAcceuil 4s; }

body {
  max-width: 100vw; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px; }
  header .logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 50%; }

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #eaeaea;
  box-shadow: inset 0em 3px 10px -8px; }
  .localisation .localisation__info {
    font-family: "Roboto", sans-serif;
    font-size: 15px; }
  .localisation .fa-map-marker-alt {
    margin-right: 20px; }

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  text-align: center;
  height: 250px;
  background-color: #f6f6f6; }
  .information__titre {
    font-size: 20px;
    padding: 0px 40px; }
  .information__paragraphe {
    font-size: 15px;
    font-weight: 300;
    padding: 0px 10px;
    margin-top: 10px; }
  .information__button {
    font-size: 14px;
    padding: 14px 20px;
    border-radius: 9999px;
    border: none;
    background: linear-gradient(174deg, #ff79da, #9356dc);
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    box-shadow: 10px 10px 20px -15px black; }
    .information__button:hover {
      opacity: 0.8;
      box-shadow: 10px 10px 20px -10px black;
      transition: all 400ms; }

.fonctionnement {
  padding: 0 10px;
  height: 330px; }
  .fonctionnement__title {
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px; }
  .fonctionnement__box__article {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 20px 20px;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 10px 10px 20px -20px; }
    .fonctionnement__box__article__circle {
      position: absolute;
      left: 4.5%;
      color: #ffffff;
      background-color: #9356dc;
      padding: 4px 8px;
      font-size: 0.8rem;
      border-radius: 100%; }
    .fonctionnement__box__article__icon {
      margin-left: 10px;
      color: #7e7e7e; }
      .fonctionnement__box__article__icon .fa-store {
        font-size: 14px;
        margin-left: -4px;
        color: #9356dc; }
    .fonctionnement__box__article__paragraphe {
      margin-top: 4px;
      padding: 0px 20px;
      font-weight: 500;
      font-size: 0.9rem; }
  .fonctionnement .fonctionnement__color3 {
    background-color: #f5edff; }

.restaurant {
  background-color: #f6f6f6;
  padding: 0 10px;
  height: 1450px; }
  .restaurant__titre {
    font-family: "Roboto", sans-serif;
    padding-top: 40px;
    padding-left: 20px;
    margin-bottom: 10px; }
  .restaurant__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .restaurant__box__article {
      margin: 10px;
      margin-bottom: 80px;
      max-height: 250px;
      min-height: 57px;
      box-shadow: 5px 5px 20px -20px; }
      .restaurant__box__article__nouveau {
        font-family: "Roboto", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 75%;
        top: 20px;
        max-width: 70px;
        padding: 8px 5px;
        color: #008766;
        background-color: #99e2d0;
        height: 13px;
        width: 65px;
        font-weight: 600;
        font-size: 13px;
        border-radius: 2px; }
      .restaurant__box__article__litlebox {
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        height: 60px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0px 20px;
        font-size: 14px; }
        .restaurant__box__article__litlebox__like {
          font-size: 20px; }
        .restaurant__box__article__litlebox__titre {
          font-weight: 700;
          margin-bottom: 5px; }
        .restaurant__box__article__litlebox__paragraphe {
          font-weight: 300; }
        .restaurant__box__article__litlebox .heart {
          position: relative;
          left: 27px;
          color: #9356dc;
          cursor: pointer;
          opacity: 0; }
          .restaurant__box__article__litlebox .heart:active {
            opacity: 1; }
        .restaurant__box__article__litlebox .heart-font-size {
          font-size: 1.5rem; }
    .restaurant__box .restaurant__box__article__topbox {
      position: relative;
      max-height: 100%; }
    .restaurant__box .restaurant__box__img {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      max-height: 100%;
      max-height: -webkit-fill-available;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-bottom: -3px; }

footer {
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  height: 115px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #353535;
  color: #ffffff; }
  footer .footer__titre {
    font-family: "Shrikhand", sans-serif;
    font-weight: 100;
    font-size: 11px;
    margin-bottom: 10px; }
  footer .footer__box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px; }
    footer .footer__box .footer-box__paragraphe {
      margin-left: 5px; }
  footer .footer__icon {
    font-size: 10px; }
  footer .footer__paragraphe {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 300; }

@media screen and (max-width: 320px) {
  .fonctionnement__box__article__circle {
    left: 6% !important; }

  .restaurant {
    height: 1200px !important; }

  .restaurant__box__article {
    margin-bottom: 20px !important; }

  .restaurant__box__article__nouveau {
    left: 70% !important; } }
@media screen and (max-width: 375px) {
  .fonctionnement__box__article__circle {
    left: 5%; }

  .restaurant {
    height: 1350px; }

  .restaurant__box__article {
    margin-bottom: 50px; }

  .restaurant__box__article__nouveau {
    left: 75%; }

  .restaurant__box__img {
    width: 100%; } }
@media screen and (min-width: 768px) {
  .lds-default {
    left: 45%;
    top: 300px;
    transform: scale(2.5); }

  .logo {
    max-height: 40px; }

  .fonctionnement {
    height: 200px; }
    .fonctionnement__box {
      display: flex;
      height: 120px; }
      .fonctionnement__box__article {
        align-items: center; }
        .fonctionnement__box__article__icon {
          margin-left: 0px; }
        .fonctionnement__box__article__circle {
          position: relative;
          left: -18%; }

  .restaurant__box__article__nouveau {
    left: 85%;
    height: 20px;
    width: 80px;
    font-size: 16px; }

  .restaurant {
    height: 1750px; }
    .restaurant__titre {
      margin-bottom: 10px; }
    .restaurant__box {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .restaurant__box__article {
        min-width: 100%;
        min-height: 300px;
        margin-bottom: 100px; }
        .restaurant__box__article__litlebox {
          height: 90px;
          font-size: 1rem; }
      .restaurant__box .restaurant__box__article__topmargin {
        margin-top: 10px; }

  .restaurant__box__img {
    height: 18rem; }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media screen and (min-width: 1024px) {
  .lds-default {
    left: 48%;
    top: 400px;
    transform: scale(3); }

  .fonctionnement__box {
    justify-content: space-around; }
    .fonctionnement__box__article__circle {
      left: -13%; }

  .restaurant {
    height: 900px; }
    .restaurant .restaurant__box {
      display: grid;
      grid-template-columns: 1fr 20px 1fr 20px;
      grid-template-rows: repeat(2, 390px); }
      .restaurant .restaurant__box .restaurant__box__article:nth-child(1) {
        grid-row: 1;
        grid-column: 1; }
      .restaurant .restaurant__box .restaurant__box__article:nth-child(2) {
        grid-row: 1;
        grid-column: 3; }
      .restaurant .restaurant__box .restaurant__box__article:nth-child(3) {
        grid-row: 2;
        grid-column: 1; }
      .restaurant .restaurant__box .restaurant__box__article:nth-child(4) {
        grid-row: 2;
        grid-column: 3; }
    .restaurant .restaurant__box__article {
      margin-bottom: 300px; }
      .restaurant .restaurant__box__article__nouveau {
        padding: 12px 20px;
        font-size: 18px;
        top: 20px;
        left: 75%; }
      .restaurant .restaurant__box__article__litlebox {
        height: 80px;
        font-size: 18px; }
        .restaurant .restaurant__box__article__litlebox .heart {
          left: 56%; }
          .restaurant .restaurant__box__article__litlebox .heart:hover {
            opacity: 1;
            transition: opacity 400ms; }
      .restaurant .restaurant__box__article:hover {
        opacity: 0.8;
        transition: opacity 300ms; }

  footer {
    height: 170px; }
    footer .footer__titre {
      font-size: 20px !important; }
    footer .footer__box {
      font-size: 18px !important; }
    footer .footer__paragraphe {
      font-size: 18px !important;
      margin-left: 1%; } }
@media screen and (min-width: 1440px) {
  .lds-default {
    left: 47%;
    top: 350px;
    transform: scale(3); }

  .information__titre {
    font-size: 30px; }

  .information__paragraphe {
    font-size: 20px; }

  .information__button {
    font-size: 20px; }

  .fonctionnement__title {
    font-size: 30px; }

  .fonctionnement__box__article__paragraphe {
    font-size: 20px; }

  .fonctionnement__box__article__circle {
    left: -11%; }

  .restaurant {
    height: 950px; }

  .restaurant__titre {
    font-size: 30px; }

  .restaurant__box {
    grid-template-rows: repeat(2, 400px) !important; }

  .restaurant__box__article {
    min-height: 300px; }

  .restaurant__box__img {
    height: 18rem; }

  .restaurant__box__article__nouveau {
    left: 80% !important; } }
@media screen and (min-width: 1920px) {
  header {
    height: 150px; }

  .logo {
    font-size: 2rem !important;
    max-width: 80% !important;
    max-height: 60px; }

  .localisation {
    height: 100px; }

  .localisation__info {
    font-size: 30px !important; }

  .information {
    height: 400px; }

  .information__titre {
    font-size: 45px; }

  .information__paragraphe {
    font-size: 32px; }

  .information__button {
    font-size: 30px; }

  .fonctionnement {
    height: 300px; }

  .fonctionnement__title {
    font-size: 50px; }

  .fonctionnement__box__article {
    padding: 60px; }

  .fonctionnement__box__article__circle {
    font-size: 25px;
    padding: 15px 20px;
    left: -18%; }

  .fonctionnement__box__article__icon {
    margin-left: 10px;
    color: #7e7e7e; }
    .fonctionnement__box__article__icon .fa-store {
      font-size: 30px;
      margin-right: 25px;
      color: #9356dc; }
    .fonctionnement__box__article__icon .fa-bars {
      font-size: 30px;
      margin-right: 25px; }
    .fonctionnement__box__article__icon .fa-mobile-alt {
      font-size: 30px;
      margin-right: 25px; }

  .fonctionnement__box__article__paragraphe {
    font-size: 30px; }

  .restaurant {
    height: 1500px; }

  .restaurant__titre {
    font-size: 50px;
    margin-bottom: 30px; }

  .restaurant__box {
    grid-template-rows: repeat(2, 630px) !important; }

  .restaurant__box__article {
    min-height: 500px; }

  .restaurant__box__article__litlebox {
    min-height: 30%; }

  .restaurant__box__article__litlebox__titre {
    font-size: 35px;
    margin-top: 40px; }

  .restaurant__box__article__litlebox__paragraphe {
    font-size: 30px;
    margin-bottom: 40px; }

  .restaurant__box__like {
    font-size: 35px; }

  .restaurant__box__article__nouveau {
    font-size: 30px !important;
    padding: 20px 35px !important;
    top: 30px !important;
    min-width: 100px;
    text-align: center; }

  .restaurant__box__img {
    height: 25rem; }

  footer {
    height: 250px; }
    footer .footer__titre {
      font-size: 35px !important; }
    footer .footer__box {
      font-size: 30px !important; }
    footer .footer__icon {
      font-size: 30px !important; }
    footer .footer__paragraphe {
      font-size: 29px !important;
      margin-left: 35px; } }

/*# sourceMappingURL=style.css.map */
