// ==========  Variable  ============= //

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2d0;
$color-grey: #f6f6f6;
$color-icons: #7e7e7e;


// ==========  Media Query  ============= //

@media screen and (max-width: 320px) {

  // Fonctionnement 320px

  .fonctionnement__box__article__circle {
    left: 6% !important;
  }

  // Restaurant 320px

  .restaurant {
    height: 1200px !important;     // Le {!important} c'est pour forcer les nouveaux parametres
  }

  .restaurant__box__article {
    margin-bottom: 20px !important;
  }

  .restaurant__box__article__nouveau {
    left: 70% !important;
  }
}

@media screen and (max-width: 375px) {

  // Fonctionnement 375px 

  .fonctionnement__box__article__circle {
    left: 5%;
  }

  // Restaurant 375px 

  .restaurant {
    height: 1350px;
  }

  .restaurant__box__article {
    margin-bottom: 50px;
  }

  .restaurant__box__article__nouveau {
    left: 75%;
  }

  .restaurant__box__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {

  // Mettre L'animation au milieu

  .lds-default {
    left: 45%;
    top: 300px;
    transform: scale(2.5);
  }
  .logo {
    max-height: 40px;
  }

  // Fonctionnement 768px

  .fonctionnement {
    height: 200px;

    &__box {
      display: flex;
      height: 120px;

      &__article {
        align-items: center;

        &__icon {
          margin-left: 0px;
        }

        &__circle {
          position: relative;
          left: -18%;
        }
      }
    }
  }

  // Restaurant 768px

  .restaurant__box__article__nouveau {
    left: 85%;
    height: 20px;
    width: 80px;
    font-size: 16px;
  }
  .restaurant {
    height: 1750px;

    

    &__titre {
      margin-bottom: 10px;
    }

    &__box {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &__article {
        min-width: 100%;
        min-height: 300px;
        margin-bottom: 100px;

        &__litlebox {
            height: 90px;
            font-size: 1rem;
        }
      }

      .restaurant__box__article__topmargin {
        margin-top: 10px;
      }
    }
  }

  .restaurant__box__img {
    height: 18rem;      // Agrandir les images
  }

  // Footer 768px

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {

  // Mettre L'animation au milieu

  .lds-default {
    left: 48%;
    top: 400px;
    transform: scale(3);
  }

  .fonctionnement__box {
    justify-content: space-around;

    &__article {
      &__circle {
        left: -13%;
      }
    }
  }

  // Restaurant 1024px

  .restaurant {
    height: 900px;

    .restaurant__box {
      display: grid;    // Creation d'une grid pour changer le placements des differents articles
      grid-template-columns: 1fr 20px 1fr 20px;
      grid-template-rows: repeat(2, 390px);

      .restaurant__box__article:nth-child(1) {
        grid-row: 1;
        grid-column: 1;
      }

      .restaurant__box__article:nth-child(2) {
        grid-row: 1;
        grid-column: 3;
      }

      .restaurant__box__article:nth-child(3) {
        grid-row: 2;
        grid-column: 1;
      }

      .restaurant__box__article:nth-child(4) {
        grid-row: 2;
        grid-column: 3;
      }
    }

    .restaurant__box__article {
        margin-bottom: 300px;

      &__nouveau {
        padding: 12px 20px;
        font-size: 18px;
        top: 20px;
        left: 75%;
      }

      &__litlebox {
        height: 80px;
        font-size: 18px;

        .heart {
          left: 56%;

          &:hover {
            opacity: 1;
            transition: opacity 400ms;
          }
        }
      }

      &:hover {
        opacity: 0.8;
        transition: opacity 300ms;
      }
    }
  }

  // Footer 1024px

  footer {
    height: 170px;

    .footer__titre {
      font-size: 20px !important;
    }

    .footer__box {
      font-size: 18px !important;
    }

    .footer__paragraphe {
      font-size: 18px !important;
      margin-left: 1%;
    }
  }
}

@media screen and (min-width: 1440px) {
  // Mettre L'animation au milieu

  .lds-default {
    left: 47%;
    top: 350px;
    transform: scale(3);
  }

  // Information 1440px

  .information__titre {
    font-size: 30px;
  }

  .information__paragraphe {
    font-size: 20px;
  }

  .information__button {
    font-size: 20px;
  }

  .fonctionnement__title {
    font-size: 30px;
  }

  // Fonctionnement 1440px

  .fonctionnement__box__article__paragraphe {
    font-size: 20px;
  }

  .fonctionnement__box__article__circle {
    left: -11%;
  }

  // Restaurant 1440px

  .restaurant {
    height: 950px;
  }

  .restaurant__titre {
    font-size: 30px;
  }

  .restaurant__box {
    grid-template-rows: repeat(2, 400px) !important;  // Pour résoudre le bug des margin bottom sur les articles
  }

  .restaurant__box__article {
    min-height: 300px;
  }

  .restaurant__box__img {
    height: 18rem;
  }

  .restaurant__box__article__nouveau {
    left: 80% !important;
  }
}

@media screen and (min-width: 1920px) {

  // Header 1920px

  header {
    height: 150px;
  }

  .logo {
    font-size: 2rem !important;
    max-width: 80% !important;
    max-height: 60px;
  }

  // Localisation 1920px

  .localisation {
    height: 100px;
  }

  .localisation__info {
    font-size: 30px !important;
  }

  // Information 1920px

  .information {
    height: 400px;
  }

  .information__titre {
    font-size: 45px;
  }

  .information__paragraphe {
    font-size: 32px;
  }

  .information__button {
    font-size: 30px;
  }

  // Fonctionnement 1920px

  .fonctionnement {
    height: 300px;
  }

  .fonctionnement__title {
    font-size: 50px;
  }

  .fonctionnement__box__article {
    padding: 60px;
  }

  .fonctionnement__box__article__circle {
    font-size: 25px;
    padding: 15px 20px;
    left: -18%;
  }

  .fonctionnement__box__article__icon {
    margin-left: 10px;
    color: $color-icons;

    .fa-store {
      font-size: 30px;
      margin-right: 25px;
      color: $color-primary;
    }

    .fa-bars {
      font-size: 30px;
      margin-right: 25px;
    }

    .fa-mobile-alt {
      font-size: 30px;
      margin-right: 25px;
    }
  }

  .fonctionnement__box__article__paragraphe {
    font-size: 30px;
  }


  // Restaurant 1920px

  .restaurant {
    height: 1500px;
  }

  .restaurant__titre {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .restaurant__box {
    grid-template-rows: repeat(2, 630px) !important;
  }

  .restaurant__box__article {
    min-height: 500px;
  }

  .restaurant__box__article__litlebox {
    min-height: 30%;
  }

  .restaurant__box__article__litlebox__titre {
    font-size: 35px;
    margin-top: 40px;
  }

  .restaurant__box__article__litlebox__paragraphe {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .restaurant__box__like {
    font-size: 35px;
  }

  .restaurant__box__article__nouveau {
    font-size: 30px !important;
    padding: 20px 35px !important;
    top: 30px !important;
    min-width: 100px;
    text-align: center;
  }

  .restaurant__box__img {
    height: 25rem;
  }

  // Footer 1920px

  footer {
    height: 250px;

    .footer__titre {
      font-size: 35px !important;
    }

    .footer__box {
      font-size: 30px !important;
    }

    .footer__icon {
      font-size: 30px !important;
    }

    .footer__paragraphe {
      font-size: 29px !important;
      margin-left: 35px;
    }
  }
}
