// ==========  Variable  ============= //

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2d0;
$color-grey: #f6f6f6;
$color-icons: #7e7e7e;
$color-grey-menu: #8d8c8c;

// ==========  ALL  ============= //
@import "mixin.scss", "animation.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  animation: pageAnimation 800ms;
}

// ==========  HEADER  ============= //

header {
  @include flexmid;
  height: 55px;

  .header__fleche {
    margin-left: -70px;
  }

  .logo {
    @include font-family-primary;
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 50%;
  }
}

.images__bug {
  width: 100%;
  height: 210px;
}

// ==========  MAIN  ============= //

main {
  background-color: $color-grey;
}

.images {
  max-width: 100%;
}

.background {
  position: relative;
  bottom: 45px;
  height: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: $color-grey;
}

// ==========  PRESENTATION  ============= //

.presentation__boxtitre {
  @include font-family-primary;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 15px;

  &__titre {
    font-size: 23px;
    font-weight: 200;
    white-space: nowrap;
    flex: 3;
  }

  &__heart {
    flex: 1;
    .fa-heart {
      font-size: 20px;
    }

    .heart {
      position: relative;
      left: 23px;
      color: $color-primary;
      cursor: pointer;
      opacity: 0;

      &:hover {
        opacity: 1;
        transition: opacity 400ms;
      }
    }
  }
}

// ==========  MENU  ============= //

.menu {
  @include font-family-secondary;
  margin-top: 25px;
  padding: 0 15px;

  .ligne__vert {
    height: 3px;
    width: 35px;
    margin-bottom: -3px;
    background-color: #99e2d0;
  }

  &__titre {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: $color-grey-menu;
  }

  &__article {
    display: flex;
    position: relative;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px -20px;
    cursor: pointer;

    &__container {
      width: 100%;
      &__titre {
        font-size: 15px;
        font-weight: bold;
      }

      &__info {
        display: flex;
        justify-content: space-between;

        &__paragraphe {
          font-size: 13px;
          font-weight: 100;
          color: $color-grey-menu;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: 5px;
        }

        &__prix {
          width: 2%;
          font-size: 12px;
          font-weight: bold;
          margin-right: 5px;
          font-weight: bold;
        }
      }
    }

    &__overlay {
      @include flexmid;
      overflow: hidden;
      position: absolute;
      bottom: 0px;
      left: 100%;
      background-color: $color-tertiaire;
      color: #fff;
      width: 0%;
      height: 100%;
      max-height: 100%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      .fa-check-circle {
        font-size: 20px;
      }
    }

    // Animation des articles

    &__container:hover + &__overlay {
      left: 80%;
      width: 20%;
      transition: 1s;

      .fa-check-circle {
        animation: rotate 600ms;
      }
    }

    &__container:hover {
      width: 80%;
      transition: 600ms;
    }
  }
}

// Animation des plats

#entree {
  animation: pageAnimationMenu 1500ms;
}

#plat {
  animation: pageAnimationMenu 2000ms;
}

#dessert {
  animation: pageAnimationMenu 3000ms;
}

.commande {
  @include flexmid;
  &__button {
    font-size: 14px;
    padding: 14px 45px;
    border-radius: 9999px;
    border: none;
    background: linear-gradient(174deg, $color-secondary, $color-primary);
    color: #ffffff;
    margin-bottom: 80px;
    cursor: pointer;
    box-shadow: 10px 10px 20px -15px black;

    &:hover {
      opacity: 0.8;
      box-shadow: 10px 10px 20px -10px black;
      transition: all 400ms;
    }
  }
}

// ==========  FOOTER  ============= //

footer {
  @include padding-width;
  @include font-family-secondary;
  height: 150px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #353535;
  color: #ffffff;

  .footer__titre {
    @include font-family-primary;
    font-weight: 100;
    font-size: 11px;
    margin-bottom: 10px;
  }

  .footer__box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;

    .footer-box__paragraphe {
      margin-left: 5px;
    }
  }

  .footer__icon {
    font-size: 10px;
  }

  .footer__paragraphe {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 300;
  }
}

@import "media-menu.scss";
