@mixin flexmid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-family-primary {
    font-family: "Shrikhand", sans-serif;
}

@mixin font-family-secondary {
    font-family: "Roboto", sans-serif;
}

@mixin restaurant-img__setting {
    background-size: contain;
    background-position-y: -50%;   
    min-width: 100%;
    height: 250px;
    border-radius: 20px;
}