       // Variable
       
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$color-grey: #f6f6f6;
$color-icons: #7e7e7e;
        
        
        // ALL
@import "mixin.scss", "animation.scss";
        

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}
        
             
        // HEADER 

header {
    @include flexmid;
    height: 65px;

    .logo {
        @include font-family-primary;
        font-size: 1.6rem;
        font-weight: 100;
    }
}        



        // TOP MAIN 

.localisation {
    @include flexmid;
    height: 50px;
    background: #eaeaea;
    box-shadow: inset 0em 3px 10px -8px;

    .localisation__info {
        @include font-family-secondary;
        font-size: 15px;
    }

    .fa-map-marker-alt {
        margin-right: 20px;
    }
}

.information {
    @include flexmid;
    @include font-family-secondary;
    flex-direction: column;
    text-align: center;
    height: 250px;
    background-color: $color-grey;
    

    .information__titre {
        font-size: 20px;
        padding: 0px 40px;
    }

    .information__paragraphe {
        font-size: 15px;
        font-weight: 300;
        padding: 0px 10px;
        margin-top: 10px;
    }

    .information__button {
        font-size: 14px;
        padding: 14px 20px;
        border-radius: 9999px;
        border: none;
        background: linear-gradient(174deg, $color-secondary, $color-primary);
        color: #ffffff;
        margin-top: 30px;
        margin-bottom: 0px;
    }
}

        // FONCTIONNEMENT

.fonctionnement {
    .fonctionnement__title {
        @include font-family-secondary;
        margin-top: 40px;
        margin-bottom: 30px;
        padding-left: 20px;
    }

    .fonctionnement__box {
        @include font-family-secondary;
        display: flex;
        margin: 20px 20px;
        padding: 20px;
        background-color: $color-grey;
        border-radius: 20px;
        box-shadow: 10px 10px 20px -20px;

        .fonctionnement-box__circle {
            position: absolute;
            left: 3%;
            color: #ffffff;
            background-color: $color-primary;
            padding: 4px 8px;
            font-size: 0.8rem;
            border-radius: 100%;
        }

        .fonctionnement-box__icon {
            margin-left: 10px;
            color: $color-icons;

            .fa-store {
                font-size: 14px;
                margin-left: -4px;
                color: $color-primary;
            }
        }

        .fonctionnement-box__paragraphe {
            margin-top: 4px;
            padding: 0px 20px;
            font-weight: 500;
            font-size: 0.9rem;
        }
    }

    .fonctionnement__color3 {
        background-color: #f5edff;
    }
}


        // Restaurants


 .restaurant {
    background-color: $color-grey;

    .restaurant__titre {
        @include font-family-secondary;
        padding-top: 40px;
        padding-left: 20px;
        margin-bottom: 15px;
    }

    .restaurant__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;

        .restaurant-box__article {
            margin: 10px 0px;

            .restaurant__nouveau {
                @include font-family-secondary;
                position: relative;
                max-width: 70px;
                padding: 3px 5px;
                left: 210px;
                top: 35px;
                color: #008766;
                background-color: #99e2d0;
                text-align: center;
                font-size: 12px;
            }

            .restaurant-litlebox {
                @include font-family-secondary;
                background-color: #ffffff;
                height: 75px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 20px;
                font-size: 14px;

                .restaurant-box__like {
                    font-size: 20px;
                }

                .restaurant-litlebox-content__titre {
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                .restaurant-litlebox-content__paragraphe {
                    font-weight: 300;
                }

                .heart {
                    color: $color-primary;
                    position: relative;
                    left: 25px;
                    cursor: pointer;
                    opacity: 0;

                    &:hover{
                        opacity: 1;
                    }
                }

            }
        }

        .restaurant__img {
            @include restaurant-img__setting;
        }
    }
}


        // FOOTER

footer {
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #353535;
    color: #ffffff;
    @include font-family-secondary;

    .footer__titre {
        @include font-family-primary;
        font-weight: 100;
        font-size: 11px;
    }

    .footer__box {
        font-size: 10px;
    }
}