@media screen and (min-width: 375px){
    .images__bug {
        width: 100%;
        height: 250px;
    }
}

@media screen and (min-width: 425px){
    .images__bug {
        width: 100%;
        height: 283px;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        max-height: 40px;
    }

    .images__bug {
        width: 100%;
        height: 512px;
    }

    .header__fleche {
        position: relative;
        right: 170px;
    }

    .background {
        padding: 0 20px;
    }

    .presentation__boxtitre__heart {
        margin-left: 400px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .background {
        bottom: 120px;
    }
    
    .images__bug {
        width: 100%;
        height: 682px;
    }

    .header__fleche {
        position: relative;
        right: 290px;
        font-size: 20px;
    }

    .presentation__boxtitre {
        &__titre {
            font-size: 30px;
        }
    }

    .presentation__boxtitre__heart {
        margin-left: 600px;
    }

    .fa-heart {
        font-size: 25px !important;
    }

    .heart {
        left: 28px !important;

        &:hover {
            opacity: 1;
            transition: opacity 400ms;
        }
    }

    .menu {
        &__titre {
            font-size: 20px;
        }

        .menu__article__container {
            &__titre {
                font-size: 18px;
            }

            .menu__article__container__info__paragraphe {
                font-size: 15px;
            }

            .menu__article__container__info__prix {
                font-size: 14px;
            }
        }

        .menu__article__overlay {
            min-height: 65px;
        }
    }

    .commande__button {
        font-size: 20px;
    }

    .footer__titre {
        font-size: 20px !important;
    }

    .footer__box {
        font-size: 15px !important;
    }

    .footer__paragraphe {
        font-size: 15px !important;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .background {
        bottom: 180px;
    } 

    .images__bug {
        width: 100%;
        height: 960px;
    }

    .header__fleche {
        position: relative;
        right: 500px;
        font-size: 20px;
    }

    .presentation__boxtitre {
        &__titre {
            font-size: 35px;
        }
    }

    .presentation__boxtitre__heart {
        margin-left: 950px;
    }

    .fa-heart {
        font-size: 35px !important;
    }

    .heart {
        left: 38px !important;
    }

    .menu {
        &__titre {
            font-size: 25px;
        }

        .menu__article__container {
            &__titre {
                font-size: 23px;
            }

            .menu__article__container__info__paragraphe {
                font-size: 20px;
            }

            .menu__article__container__info__prix {
                font-size: 18px;
            }
        }

        .menu__article__overlay {
            min-height: 76px;
        }
    }

    .commande__button {
        font-size: 30px;
        margin-top: -70px;
    }

    footer {
        min-height: 180px;
    }

    .footer__titre {
        font-size: 25px !important;
    }

    .footer__box {
        font-size: 20px !important;
    }

    .footer__paragraphe {
        font-size: 20px !important;
        margin-left: 20px;
    }

}