       // Variable
       
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$color-grey: #f6f6f6;
$color-icons: #7e7e7e;
$color-grey-menu: #8d8c8c;
               
               
        // ALL
@import "mixin.scss", "animation.scss";
               
       
* {
    margin: 0;
    padding: 0;
}
       
a {
    text-decoration: none;
    color: currentColor;
}

.container {
    animation: pageAnimation 800ms;
}
               
                    
        // HEADER 
       
header {
    @include flexmid;
    height: 55px;

    .header__fleche {
        margin-left: -70px;
    }
        
    .logo {
        @include font-family-primary;
        font-size: 1.5rem;
        font-weight: 100;
        max-width: 50%;
    }
}  


    // MAIN

main {
    background-color: $color-grey;
}

.images {
    max-width: 100%;
}

.background {
    position: relative;
    bottom: 45px;
    height: 900px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-grey;
}

        // PRESENTATION
    

.presentation__boxtitre {
    @include font-family-primary;
    padding-top: 30px;
    padding-left: 15px;
    display: flex;
    align-items: center;

    &__titre {
        font-size: 20px;
        font-weight: 200;
    }
    
    &__heart {
        margin-left: 90px;

        .fa-heart {
            font-size: 20px;
        }

        .heart {
            color: $color-primary;
            position: relative;
            left: 23px;
            cursor: pointer;
            opacity: 0;

            &:active{
                opacity: 1;
            }
        }
    }
}



        // MENU

.menu {
    margin-top: 25px;
    padding: 0 15px;
    @include font-family-secondary;

    &__titre {
        margin-top: 40px;
        font-size: 14px;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: $color-grey-menu;
    }

    &__article {
        margin-top: 15px;
        display: flex;
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;

        &__container {
            width: 100%;
            &__titre {
                font-size: 15px;
                font-weight: bold;
            }
    
            &__info {
                display: flex;
                justify-content: space-between;
                
                &__paragraphe {
                    font-size: 13px;
                    font-weight: 100;
                    color: $color-grey-menu;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-right: 5px;
                }
    
                &__prix {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

        &__overlay {
            @include flexmid;
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            left: 100%;
            background-color: $color-tertiaire;
            color: #fff;
            width: 0%;
            min-height: 57px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            .fa-check-circle {
                font-size: 20px;
            }
        }

        // Animation des articles

        &__container:hover + &__overlay {
            left: 80%;
            width: 20%;
            transition: 800ms;
            
            .fa-check-circle {
                animation: rotate 600ms;
            }
        }

        &__container:hover {
            width: 80%;
            transition: 800ms;
        }
    }
}
.commande {
    @include flexmid;
    &__button {
        font-size: 14px;
        padding: 14px 20px;
        border-radius: 9999px;
        border: none;
        background: linear-gradient(174deg, $color-secondary, $color-primary);
        color: #ffffff;
        margin-bottom: 80px;
        cursor: pointer;
    }
}




footer {
    @include padding-width;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #353535;
    color: #ffffff;
    @include font-family-secondary;

    .footer__titre {
        @include font-family-primary;
        font-weight: 100;
        font-size: 11px;
        margin-bottom: 10px;
    }

    .footer__box {
        margin-bottom: 5px;
        font-size: 12px;
        display: flex;
        align-items: center;

        .footer-box__paragraphe {
            margin-left: 5px;
        }
    }

    .footer__icon {
          font-size: 10px;  
    }

    .footer__paragraphe {
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: 300;
    }
}
       
       
       